@media only screen and (max-width: 1925px) {
  .cartCountNum {
    position: relative;
    bottom: 10px !important;
  }
  
}
.cart-items {
  display: flex;
}
.cart {
  color: #3066BE !important;
  font-size: 2rem;
  padding: 1rem;
  bottom: 5px;
  position: relative;
}

.cartCount {
  right: 1.3vw;
  position: relative;
  color: white;
  font-family: sans-serif;
  z-index: 1;
  background-color: #119DA4;
  height: 1.5vh;
  border-radius: 50%;
  padding: 0.3rem;
}

.cartCountNum {
  position: relative;
  bottom: 5px;
}

.cart:hover {
  color: #ffffff !important;
}

.cart-items:hover {
  cursor: pointer;
}
